<template>
    <!-- div for when there are no reviews available -->
    <template if:false={reviewsToShow}>
        <div class="slds-align_absolute-center">No reviews available</div>
    </template>
    <!-- div for when there are reviews available -->
    <template if:true={reviewsToShow}>
        <div class="slds-feed slds-is-relative slds-scrollable_y reviews-style">
            <template if:true={isLoading}>
                <lightning-spinner size="small" alternative-text="Loading" variant="brand"></lightning-spinner>
            </template>
            <ul class="slds-feed__list">
                <template for:each={boatReviews} for:item="boatReview">
                    <li class="slds-feed__item" key={boatReview.Id}>
                        <article class="slds-post">
                            <header class="slds-post__header slds-media">
                                <div class="slds-media__figure">
                                    <lightning-avatar variant="circle" src={boatReview.CreatedBy.SmallPhotoUrl}>
                                    </lightning-avatar>
                                </div>
                                <div class="slds-media__body">
                                    <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                        <p>
                                            <a title={boatReview.CreatedBy.Name} onclick={navigateToRecord}
                                                data-record-id={boatReview.CreatedBy.Id}>
                                                {boatReview.CreatedBy.Name} 
                                            </a>
                                            <span>
                                                - {boatReview.CreatedBy.CompanyName}</span>
                                        </p>
                                    </div>
                                    <p class="slds-text-body_small">
                                        <lightning-formatted-date-time value={boatReview.CreatedDate}>
                                        </lightning-formatted-date-time>
                                    </p>
                                </div>
                            </header>
                            <div class="slds-text-longform">
                                <p class="slds-text-title_caps">
                                    {boatReview.Name}
                                </p>
                                <lightning-formatted-rich-text value={boatReview.Comment__c}> </lightning-formatted-rich-text>
                            </div>
                            <c-five-star-rating read-only value={boatReview.Rating__c}></c-five-star-rating>
                        </article>
                    </li>
                </template>
            </ul>
        </div>
    </template>
</template>