<template>
    <lightning-tabset variant="scoped">
        <lightning-tab label="Gallery">
            <template if:true={boats.data}>
                <div class="slds-scrollable_y">
                    <!-- layout horizontally aligned to the center  -->
                    <!-- layout allowing multiple rows -->
                    <lightning-layout horizontal-align="center" multiple-rows>
                        <!-- template looping through each boat -->
                        <template for:each={boats.data} for:item="boat">
                            <!-- lightning-layout-item for each boat -->
                            <lightning-layout-item key={boat.Id} padding="around-small" size="12" large-device-size="3"
                                medium-device-size="4" small-device-size="6">
                                <c-boat-tile boat={boat} selected-boat-id={selectedBoatId}
                                    onboatselect={updateSelectedTile}></c-boat-tile>
                            </lightning-layout-item>
                        </template>
                    </lightning-layout>
                </div>
            </template>
        </lightning-tab>
        <lightning-tab label="Boat Editor">
            <template if:true={boats.data}>
                <div class="slds-scrollable_y">
                    <lightning-datatable 
                        data={boats.data} 
                        columns={columns}
                        key-field="Id" 
                        hide-checkbox-column
                        onsave={handleSave}
                        draft-values={draftValues}>
                    </lightning-datatable>
                </div>
            </template>
        </lightning-tab>
        <lightning-tab label="Boats Near Me">
            <c-boats-near-me boat-type-id={boatTypeId}></c-boats-near-me>
        </lightning-tab>
    </lightning-tabset>
</template>