<template>
    <lightning-record-edit-form object-api-name={boatReviewObject} onsuccess={handleSuccess} onsubmit={handleSubmit}>
        <lightning-messages>
        </lightning-messages>
        <lightning-layout multiple-rows vertical-align="start">
            <lightning-layout-item size="8" padding="horizontal-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="record-name">{labelSubject}</label>
                    <div class="slds-form-element__control">
                        <lightning-input-field id="record-name" field-name={nameField} variant="label-hidden"></lightning-input-field>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="horizontal-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="record-rating">{labelRating}</label>
                    <div class="slds-form-element__control">
                        <c-five-star-rating id="record-rating" onratingchange={handleRatingChanged}></c-five-star-rating>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small">
                <lightning-input-field field-name={commentField}></lightning-input-field>
            </lightning-layout-item>
        </lightning-layout>
        <div class="slds-align_absolute-center" style="margin-top: 5px">
            <lightning-button type="submit" label="Submit" icon-name="utility:save"></lightning-button>
        </div>
    </lightning-record-edit-form>
</template>