<template>
    <lightning-layout horizontal-align="center">
        <lightning-layout-item class="slds-align-middle">
            <lightning-combobox 
                class="slds-align-middle"
                value={selectedBoatTypeId}
                options={searchOptions}
                onchange={handleSearchOptionChange}></lightning-combobox>
        </lightning-layout-item>
    </lightning-layout>
</template>