<template>
    <lightning-card title={getTitle} icon-name="custom:custom54">
        <lightning-layout multiple-rows="true">
            <template if:true={noBoats}>
                <p class="slds-align_absolute-center">There are no related boats by {similarBy}!</p>
            </template>
            <!-- Loop through the list of similar boats -->
            <template for:each={relatedBoats} for:item="relatedBoat">
                <!-- Responsive lightning-layout-item -->
                <lightning-layout-item key={relatedBoat.Id} padding="around-small" size="12" large-device-size="4"
                medium-device-size="4" small-device-size="6">
                    <c-boat-tile boat={relatedBoat} onboatselect={openBoatDetailPage}></c-boat-tile>
                </lightning-layout-item>
            </template>
        </lightning-layout>
    </lightning-card>
</template>